<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.0" targetFramework="net47" />
  <package id="ICSharpCode.NRefactory" version="5.5.1" targetFramework="net47" />
  <package id="Loyc.Collections" version="26.8.1" targetFramework="net47" />
  <package id="Loyc.Essentials" version="26.8.1" targetFramework="net47" />
  <package id="Loyc.Syntax" version="26.8.1" targetFramework="net47" />
  <package id="Mono.Cecil" version="0.9.5.4" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net47" />
  <package id="Pegasus" version="4.1.0" targetFramework="net47" />
</packages>