<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <buildConfig>Debug</buildConfig>
  <projectFile>C:\Users\filmee24\Documents\Projekte\LeoLang\LeoLangCompiler\LeoLangCompiler.csproj</projectFile>
  <product>LeoLangCompiler</product>
  <publisher>Furesoft</publisher>
  <version>1.0.0</version>
  <entryPoint>LLC.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>true</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <certificatePath />
  <savePassword>false</savePassword>
  <customUninstallProcedureEnabled>true</customUninstallProcedureEnabled>
  <uninstallArgs>/u</uninstallArgs>
  <deploymentTargets>
    <rootUrl>http://furesoft.ml/updates/LLC</rootUrl>
    <destinationFolder>C:\Users\filmee24\Documents\Projekte\LeoLang\LeoLangCompiler\simplDeploy</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>