<?xml version="1.0"?>
<simplDeployPackagerConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <buildConfig>Debug</buildConfig>
  <projectFile>C:\Users\filmee24\Documents\Projekte\LeoLang\LeoLangCompiler\LeoLangCompiler.csproj</projectFile>
  <entryPoint>LLC.exe</entryPoint>
  <quietMayor>false</quietMayor>
  <inAppUpdate>false</inAppUpdate>
  <StartupArgumentsEnabled>false</StartupArgumentsEnabled>
  <signPackageEnabled>false</signPackageEnabled>
  <savePassword>false</savePassword>
  <customUninstallProcedureEnabled>false</customUninstallProcedureEnabled>
  <deploymentTargets>
    <rootUrl />
    <destinationFolder>C:\Users\filmee24\Documents\Projekte\LeoLang\LeoLangCompiler\simplDeploy</destinationFolder>
    <useDefaultDestinationFolder>false</useDefaultDestinationFolder>
    <isActivated>true</isActivated>
  </deploymentTargets>
</simplDeployPackagerConfig>